<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>@gianpaj - links</title>
		<meta name="title" content="Gianfranco P. links">
		<meta name="description" content="Your friendly YouTuber ✦ Coding Mentor ✦ Tinkerer ✦ Senior Software Developer, talking about tech, software, hardware, AI tutorials, project builds, educational content, and more. ">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:title" content="Follow me on social - @gianpaj">
		<meta property="og:description"
			content="Your friendly YouTuber ✦ Coding Mentor ✦ Tinkerer ✦ Senior Software Developer, talking about tech, software, hardware, AI tutorials, project builds, educational content, and more. ">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://wwww.linktr.zoltanfodor.dev">
		<meta property="twitter:title" content="Gianfranco P. links">
		<meta property="twitter:description"
			content="Your friendly YouTuber ✦ Coding Mentor ✦ Tinkerer ✦ Senior Software Developer, talking about tech, software, hardware, AI tutorials, project builds, educational content, and more. ">
	</head>
	<body>
		<slot />
	</body>
</html>
